doctype
html
    head
        title Connection Example
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 #{album.name}
        main
            .sidenav
                each album in albums
                    a( href=`view?project_id=${album.id}`) #{album.name}
        content
            ul
                each asset, i in album.assets
                    if i % 5 == 0
                        li
                    li.column 
                        img(src=asset.thumb height=200 )
                        br 
                        asset.name