doctype
html
    head
        title Connection Example
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Project List
        
        .main
            each album in albums
                a( href=`view?project_id=${album.id}`) #{album.name}