doctype
html
    head
        title Connection Example
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Learn About Connection Example
        p This example Connection shows how to support the standard operations on a set of projects