* {
	font-family: sans-serif;
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 200px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 0px;
}

	/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	text-align: left;
	font-size: 18px;
	color: #818181;
	display: block;
}

.sidenav button {
	font-size: 18px;
	display: block;
}

.sidenav hr {
	padding: 6px 6px 6px 6px;
	border-top: 3px solid #bbb;
  }

.sidenav h3 {
	margin:4px;
	border-top: 2px solid #bbb;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	text-align: left;
	font-size: 20px;
	color: #bbb;
	display: block;
}
	/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

	/* Style page content */
.main {
	margin-left: 200px; /* Same as the width of the sidebar */
	padding: 0px 10px;
	background-color: rgb(197, 196, 196); /* Black */
}

	/* The navigation menu links */
.main a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.main a:hover {
	color: #302f2f;
	background-color: rgb(109, 109, 109); /* Black */
}

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

button {
	display: block;
    margin: 10px auto;
}

body {
	margin: 40px 20px 20px 210px;
	text-align: center;
}

body.h1 {
	text-align: center;
}

content {
	text-align: center;
}

.btn-group {
	margin: 20px auto;	
	width: 30%;
}

.title {
	display: inline-block;
	padding-bottom: -10px;
	text-align: center;
	margin: 20px;
}

ul {
	list-style-type: none;
	margin: 5;
	padding: 5;
}

li.column {
	width: 100;
	display: inline-block;
  }